.vs/
*.sln

Binaries/
Intermediate/

/Saved
/DerivedDataCache
/Saved/Logs
/Saved/Crashes
/Script
/Plugins/*/Binaries
/Plugins/*/Intermediate

/Content/BossyEnemy
/Content/CloseCombatAnimSet
/Content/Collections
/Content/CraftResourcesIcons
/Content/Developers
/Content/EasyBuildingSystem
/Content/Poplar_Forest
/Content/ProIconPack
/Content/Space_Creator_Pro
/Content/StarterContent
/Content/UltimateHorsePack
/Content/VoxelExamples
/Content/VoxelizedMeshes
/Content/MSPresets
Content/Content.7z
Content/Content11.7z
.idea/.idea.Planet/.idea/.gitignore
.idea/.idea.Planet/.idea/encodings.xml
.idea/.idea.Planet/.idea/indexLayout.xml
.idea/.idea.Planet/.idea/vcs.xml
Planet.sln.DotSettings.user
