.vs/
*.sln
/.idea
/.idea

Binaries/
Intermediate/

/Build
/Saved
/DerivedDataCache
/Saved/Logs
/Saved/Crashes
/Script
/Plugins/*/Binaries
/Plugins/*/Intermediate

/Planet.sln.DotSettings.user
/Planet.uproject.DotSettings.user

/Content/BossyEnemy
/Content/CloseCombatAnimSet
/Content/Collections
/Content/CraftResourcesIcons
/Content/Developers
/Content/EasyBuildingSystem
/Content/Poplar_Forest
/Content/ProIconPack
/Content/Space_Creator_Pro
/Content/StarterContent
/Content/UltimateHorsePack
/Content/ArcherAnimsetPro
/Content/VoxelExamples
/Content/VoxelizedMeshes
/Content/Finisher_Animations
/Content/Effects
/Content/PhysicsMaterials
/Content/Maps/TestMaps
